[submodule "public"]
	path = public
	url = https://github.com/stuartcarnie/stuartcarnie.github.io.git
[submodule "themes/hyde-x"]
	path = themes/hyde-x
	url = https://github.com/zyro/hyde-x.git
[submodule "themes/hugo-notice"]
	path = themes/hugo-notice
	url = https://github.com/martignoni/hugo-notice.git
[submodule "themes/triple-hyde"]
	path = themes/triple-hyde
	url = https://github.com/derme302/triple-hyde.git
